{% extends 'origin.html' %}
{% block title %}
  about_page
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <center>
      <h4>Lalasalama Funeral Home</h4>
      Lalasalama Funeral Home was founded in 2014.<br>
      We arranges our services in accordance with the wishes of the deceased friends and family or an executor so named in a legal will.
      </br>At Lalasalama, the necessary paperwork, permits, and other details, such as making arrangements with the cemetery, and providing obituaries is all taken care of.
    </center>
  </div>
</div></br>

<div id="carouselExample" class="carousel slide ">
  <div class="carousel-inner">
    <div class="carousel-item active start-50">
      <div class="card" style="width: 18rem;">
        <img src="static/flowers/flower1.jpg" class="card-img-top" alt="flower1">
        <div class="card-body">
          <h5 class="card-title">Lanet</h5>
          <p class="card-text">
            <figure class="text-end">
              <blockquote class="blockquote">
                <p>I have always recommended Lalasalama Funeral Home to all my friends & family. The way everything just wraps around you when you walk in is very comforting.</p>
              </blockquote>
              <figcaption class="blockquote-footer">
                Wilma Kendi</br>
                  March 11, 2017
              </figcaption>
            </figure>
          </p>
        </div>
      </div>
    </div>
    <div class="carousel-item start-50">
      <div class="card" style="width: 18rem;">
        <img src="static/flowers/flower2.jpg" class="card-img-top" alt="flower2">
        <div class="card-body">
          <h5 class="card-title">Bamburi</h5>
          <p class="card-text">
            <figure>
              <blockquote class="blockquote">
                <p>Very helpful and friendly and professional.</p>
              </blockquote>
              <figcaption class="blockquote-footer">
                Maria Wakesho</br>
                  August 30, 2015
              </figcaption>
            </figure>
          </p>
        </div>
      </div>
    </div>
    <div class="carousel-item start-50">
      <div class="card " style="width: 18rem;">
        <img src="static/flowers/flower3.jpg" class="card-img-top" alt="flower3">
        <div class="card-body">
          <h5 class="card-title">Buruburu</h5>
          <p class="card-text">
            <figure class="text-end">
              <blockquote class="blockquote">
                <p>Lalasalama was extremely helpful with the burial service for our infant granddaughter at a very difficult time for us</p>
              </blockquote>
              <figcaption class="blockquote-footer">
                Noni Maina</br>
                  December 20, 2016
              </figcaption>
            </figure>
          </p>
        </div>
      </div>
    </div>
    <div class="carousel-item start-50">
      <div class="card" style="width: 18rem;">
        <img src="static/flowers/flower4.jpg" class="card-img-top" alt="flower4">
        <div class="card-body">
          <h5 class="card-title">Umoja</h5>
          <p class="card-text">
            <figure>
              <blockquote class="blockquote">
                <p>Excellent service for my husband, Lalasalama family. Very caring. They brought closure for a grieving family.</p>
              </blockquote>
              <figcaption class="blockquote-footer">
                Kenneth Mueni</br>
                    April 25, 2020
              </figcaption>
            </figure>
          </p>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="bg-dark-subtle text-body">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="bg-dark-subtle text-body">Next</span>
  </button>
</div></br>

<center>
  <h3>Where are we located?</h3>
</center>

<div class="container">
  <div class="row">
    <div class="col">
      <h4>Nairobi</h4>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Umoja</li>
        <li class="list-group-item">Buruburu</li>
      </ul>
      +254 723 123 123
      lalasalamanai@gmail.com
    </div>
    <div class="col">
      <h4>Nakuru</h4>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">58</li>
        <li class="list-group-item">Lanet</li>
      </ul>
      +254 723 321 123
      lalasalamanaks@gmail.com
    </div>
    <div class="col">
      <h4>Mombasa</h4>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Bamburi</li>
        <li class="list-group-item">Bombolulu</li>
      </ul>
      +254 723 123 321
      lalasalamamsa@gmail.com
    </div>
  </div>
</div></br>
{% endblock %}