{% extends 'origin.html' %} {% block title %} our-services_page {% endblock %}
{% block content %}
<center>
  <h2>BURIAL</h2>
  <div class="container-sm">
    <div class="col-4"><img src="static/coffin.jpg" /></div>
    <div class="col-4">
      A traditional funeral service consists of a viewing (sometimes referred to
      as a visitation), a funeral service in the funeral home chapel and a
      graveside committal service.
    </div>
  </div>
</br>
  <h2>CREMATION</h2>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-4"><img src="static/cremation.jpg" /></div>
      <div class="col-4">
        Direct cremation consists of the funeral home receiving the body,
        preparing it for the crematory and filing the necessary legal paperwork.
      </div>
      <div class="col-4"><img src="static/cremationpot.jpg" /></div>
    </div>
  </div>
  </br>


  <h2>TRANSPORT</h2>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-4"><img src="static/transport.jpg" /></div>
      <div class="col-4">Our transport services are safe, affordable, reliable and accessible to all</br>#We get you there</div>
    </div>
  </div>
  </br>

  <h2>PROFESSIONAL ADVICE</h2>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-4">Even though talking to someone about your feelings seems simple, it can be extremely challenging. People may feel safer shutting everyone else out during their time of grief. Resist that urge and find a confidant to share with.</div>
      <div class="col-4"><img src="static/expertadvice.jpg" /></div>
    </div>
  </div>
  </br>
</center>

{% endblock %}
